:root {
    --gradient: linear-gradient(90deg, #00aaff, #00ff6c, #00aaff);

}

body {
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 20s infinite;
    text-align: center;
    margin: auto;
}

@keyframes bg-animation {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}



.overskrift {
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    font-size: 20px;
    width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.5);
}

h1 {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    padding: 15px;
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

button {
    border-radius: 10px;
    color: #00AAFF;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
    font-size: 15px;
    background-color: white;
    border: none;
    height: fit-content;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.5);
}

input {
    text-decoration: #00FF6C;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    width: 200px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.5);
}

span {
    font-size: 20px;
    color: #00FF6C;
    font-weight: bold;
}

#oppgave2div {
    background-color: white;
    border-radius: 15px;
    font-size: 15px;
    width: fit-content;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.5);
    color: #00AAFF;
}

#oppgave2div p {
    padding-top: 20px;
}

#oppgave2 {
    box-shadow: none;
    background-color: #00AAFF;
    color: white;
}

#input2 {
    box-shadow: none;
    text-align: center;
}
#heleSiden{
    display: flex;
    flex-direction: row;
}