body{
    background-color: rgb(13, 168, 185);
}

h1{
    width: fit-content;
    padding: 30px;
    margin: auto;
    border-style: dashed;
    border-color: rgb(30, 230, 174);
}

p {
    padding: 20px;
    margin: 10px auto;
    border: 2px;
    width: fit-content;
    background-color: rgba(230, 230, 230, 0.4);
    transition-duration: 500ms;
}
a{
    text-decoration: none;
    color: rgb(100, 280, 220);
    transition-duration: 500ms;
}
a:hover{
    color: rgb(200, 10, 150);
    font-size: 130%;
}
p:hover{
    background-color:rgb(13, 168, 185);
}