:root {
    --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
}

body {
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation 20s infinite;
    text-transform: uppercase;
}

@keyframes bg-animation {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}

#overskrift {
    background: white;
    padding: 0.01px 10px 0.01px 10px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    font-size: 30px;
    width: fit-content;
}

h1 {
    width: fit-content;
    padding: 20px;
    margin: auto;
    background-image: var(--gradient);
    animation: bg-animation 5s infinite alternate;
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

p {
    background-color: white;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    font-weight: bolder;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: transparent;
    padding: 5px 10px 5px 10px;
    background-size: 300%;
    background-image: var(--gradient);
    animation: bg-animation2 5s infinite;
    background-clip: text;
    -webkit-background-clip: text;
}

@keyframes bg-animation2 {
    0% {
        background-position: left
    }

    50% {
        background-position: right
    }

    100% {
        background-position: left
    }
}
