/* angir fargen til hovedoverskriften */
#Hovedoverskrift {
    color: #0030ef;
}

/* angir bakgrunnsfarge */
#IT1 {
    background-color: yellow;
    color: black;
}

/* angir noen spesielle verdier for IT1, siden skriften har annerledes font og stil enn resten av overskriften */
#tall1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* angir en tekst-font for hele div-elementet */
div {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* overskrift 2 får kursiv skrifttype */
#uker {
    font-style: italic;
}

/* linken til oppgaven får riktig font, stil og farge */
a {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: rgba(200, 200, 200, 0.7);
    text-decoration: none;
    color: black;
    font-size: 30px;
    transition-duration: 1000ms;
}

/* angir verdier for når klienten peker på linken */
a:hover{
    color: rgb(200, 20, 150);
    background-color: white;
    font-size: 200%;
}

/* angir verdier for linken når klienten trykker */
a:active{
    color: white;
}