
body{
    background: repeating-linear-gradient(
        45deg,
        #efefef,
        #efefef 20px,
        rgb(104, 185, 218) 20px,
        rgb(104,185,218) 40px

    );
}

.meny{
    background-color: rgb(29, 156, 206);
    overflow:hidden
}

.meny a{
    float:left;
    color:rgb(30, 230, 70);
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
    text-decoration:none

}

.meny a:hover {
    color: aqua;
}  
.meny a:active {
    color: azure;
}

.overskrifter {
    background-color: rgba(248, 245, 245, 0.856);
    color: rgb(30, 230, 174);
    font-style: italic;
    text-align: center;
    max-width: 12%;
    margin-left: 36%;
}
h1 {
    background-color: rgba(248, 245, 245, 0.856);
    color: rgb(30, 230, 174);
    font-style: italic;
    text-align: center;
    max-width: 15%;
    margin-left: 43%;

}
.SånnGjørDu {
    max-width: 40%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgba(248, 245, 245, 0.856);
    padding: 0.4%;
    margin-left: 45%;
}


.ingredienser {
    width: 300%;
}

#tekstboksHjem {
    margin-left: 40%;
    max-width: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 40%;
    background-color: rgba(248, 245, 245, 0.856);
    padding: 0.2%;
}

#posisjoneringPavlova {
   display: flex;
}

#posisjoneringOreokake {
    display: flex;
}

b{
    flex-grow: 1;
}