body{
    background-image: url(bakgrunnhovedside.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

h1{
    color: antiquewhite;
    background-color: rgba(190, 81, 214, 0.5);
    
    width: fit-content;

    padding: 0.3% 10% 0.3% 10%;
    margin: auto;
}

.hovedDiv{
    color: rgb(50, 0, 200);
    background-color: rgba(210, 210, 210, 0.7);
    
    text-align: left;
    width: fit-content;
    
    padding: 1% 5% 2% 5%;
    margin: 2% 20% 2% 20%;
    
    border-style: solid;
    border-color: rgb(70, 0, 139);
    border-width: 3px;
}
.hovedDiv span{
    color: rgb(150, 0, 200);
    font-weight: bold;
}

.hovedDiv h2{
    color: rgb(150, 0, 200);
}

.oppsummering{
    color: antiquewhite;
    background-color: rgba(190, 81, 214, 0.5);
    
    margin: 2% 20% 2% 20%;
    padding: 1% 5% 2% 5%;
    
    border-style: dashed;
    border-color: rgb(70, 0, 139);
    border-width: 3px;
}

#eksemplerStoffer{
    max-width: 100%;
    padding-top: 5%;
}

#tabell1{
    margin: auto;
    width: 100%;
    margin-bottom: 50px;
}

#tabell2, th, td{
    border: 3px solid rgb(70, 0, 139);
    border-collapse: collapse;
    padding: 5px 50px 5px 30px;
}

#meny1{
    background-color: rgba(210, 210, 210, 0.7);
    border-style: solid;
    border-color: rgb(70, 0, 139);
    border-width: 3px;
    float: left;
    margin-top: 2%;
}
#meny1 h3{
    color: rgb(150, 0, 200);
    padding-left: 5%;
}
#meny1 ul {
    list-style-type: circle;
    overflow: hidden;
    padding-right: 2%;
}
  
#meny1 li a {
    color: rgb(50, 0, 200);
    text-align: left;
    text-decoration: none;
}
  
#meny1 li a:hover {
    color: antiquewhite;
}

#linkTop{
    float: right;
    width: fit-content;
    background-color: rgba(210, 210, 210, 0.7);
    text-decoration: none;
    color: rgb(50, 0, 200);
    padding: 1%;
    margin-right: 5%;
    border: solid;
    border-width: 3px;
    border-color: rgb(70, 0, 139);
}