body{
    background-image: url(bakgrunnhovedside.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

h1{
    color: antiquewhite;
    background-color: rgba(190, 81, 214, 0.5);
    
    width: fit-content;

    padding: 0.3% 10% 0.3% 10%;
    margin: auto;
}

.hovedDiv{
    color: rgb(50, 0, 200);
    background-color: rgba(210, 210, 210, 0.7);
    
    text-align: left;
    width: fit-content;
    
    padding: 1% 5% 2% 5%;
    margin: 2% 20% 2% 20%;
    
    border-style: solid;
    border-color: rgb(70, 0, 139);
    border-width: 3px;
}

.oppsummering{
    color: antiquewhite;
    background-color: rgba(190, 81, 214, 0.5);
    
    margin: 2% 20% 2% 20%;
    padding: 1%;
    
    border-style: dashed;
    border-color: rgb(70, 0, 139);
    border-width: 3px;
}