body {
    background-color: burlywood;
    color: white;
    font-size: 30px;
}

#resultat {
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

h1 {
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
    width: fit-content;
    color: burlywood;
}