body{
    background-image: url(bakgrunnhovedside.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

h1{
    color: rgb(70, 0, 139);
    background-color: rgba(144, 234, 236, 0.796);
    padding: 0.3% 10% 0.3% 10%;
    width: fit-content;
    margin: auto;
}
div{
    background-color: rgba(200, 200, 200, 0.6);
    text-align: left;
    width: fit-content;
    margin: auto;
    padding: 1% 5% 0% 5%;
    margin: 2% 20% 2% 20%;
}