        :root {
            --gradient: linear-gradient(90deg, #ee6352, purple, #ee6352);
        }

        :root {
            --gradient2: linear-gradient(90deg, purple, blue, purple);
        }

        body {
            background-size: 400%;
            background-image: var(--gradient);
            animation: bg-animation 15s infinite alternate;
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        @keyframes bg-animation {
            0% {
                background-position: left
            }
        
            50% {
                background-position: right
            }
        
            100% {
                background-position: left
            }
        }

        #overskrift {
            background-color: white;
            padding: 1px;
            width: fit-content;
            margin: auto;
        }

        #overskrift h1 {
            background-size: 400%;
            background-image: var(--gradient);
            animation: bg-animation 20s infinite alternate;
            background-clip: text;
            font-size: 40px;
            padding: 0px 20px 0px 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
        }

        .alkali {
            grid-column: span 3;
            background-color: transparent;
            font-weight: bold;
            text-align: left;
            padding-left: 35px;
        }

        div#overskrift:hover,
        div.alkali:hover,
        div.jordalkali:hover,
        div.halogener:hover,
        div.edelgasser:hover,
        div.gruppe:hover,
        div.periode:hover,
        div.span-3b:hover,
        div.span-7:hover,
        div.span-18:hover,
        div.boks:hover {
            transform: none;
            font-size: medium;
        }

        div#overskrift,
        div.alkali,
        div.jordalkali,
        div.halogener,
        div.edelgasser,
        div.gruppe,
        div.periode,
        div.span-3b,
        div.span-7,
        div.span-18,
        div.boks {
            border: none;
        }

        .jordalkali {
            background-color: transparent;
            font-weight: bold;
            text-align: left;
            padding-left: 35px;
        }

        .edelgasser {
            grid-column: span 15;
            background-color: transparent;
            font-weight: bold;
            text-align: right;
            padding-right: 35px;
        }

        .halogener {
            background-color: transparent;
            font-weight: bold;
            text-align: right;
            padding-right: 35px;
        }

        section {
            display: grid;
            grid-gap: 5px;
            margin-right: 10px;
            grid-template-columns: repeat(19, 1fr);
        }

        .boks {
            background-color: transparent;
        }

        div {
            text-align: center;
            padding: 5px;
            background: rgb(32, 130, 175);
            border-radius: 5px;
            border: solid 2px white;
        }

        div:hover {
            transform: scale(1.4);
            font-size: 10px;
        }

        div:hover p {
            display: contents;
        }

        div p {
            display: none;
            font-size: 10px;
        }
        #Rf, #Ds{
            font-size: 9px;
        }

        .span-10 {
            background: transparent;
            grid-column: span 10;
            grid-row: span 3;
        }

        .span-1 {
            grid-column: span 1;
        }

        .span-2 {
            grid-column: span 2;
        }

        .span-3 {
            grid-column: span 3;
        }

        .span-3a {
            grid-column: span 3;
            grid-row: span 2;
        }

        .span-5 {
            grid-column: span 5;
        }

        .span-7 {
            background: transparent;
            grid-column: span 7;
            grid-row: span 3;
        }

        .span-3b {
            grid-column: span 3;
            background-color: transparent;
        }

        .span-4ned {
            grid-row: span 4;
        }

        .span-18 {
            grid-column: span 18;
        }

        .usynlig {
            opacity: 0;
        }

        .ikke-metall {
            background-color: rgb(233, 76, 59);
        }

        .halv-metall {
            background-color: rgb(93, 184, 39);
        }

        .periode {
            background-color: transparent;
            font-weight: bold;
        }

        #periodenummer {
            grid-row: span 7;
            writing-mode: vertical-rl;
            background-color: white;
            padding: 1px;
        }

        .gruppe {
            background-color: transparent;
            font-weight: bold;
        }

        #periodenummer p {
            background-size: 400%;
            background-image: var(--gradient2);
            animation: bg-animation 20s infinite alternate;
            background-clip: text;
            font-size: 20px;
            padding-left: 2px;
            font-weight: bold;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
        }

        #gruppenummer {
            grid-column: span 18;
            background-color: white;
            padding: 0px;
        }

        #gruppenummer p {
            background-size: 400%;
            background-image: var(--gradient2);
            animation: bg-animation 20s infinite alternate;
            background-clip: text;
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color: transparent;
            -webkit-background-clip: text;
        }